<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <p class="text-center text">Add total and needd money</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class = "log">
      <mat-form-field class="full">
        <input matInput type="text" [(ngModel)]="val.total" placeholder="Total">
      </mat-form-field>
      <mat-form-field class="full">
        <input matInput type="text" [(ngModel)]="val.need" placeholder="Need">
      </mat-form-field>
      <div class="button-row">
        <p class="text-center">
          <button (click)="addM(val)" mat-raised-button color="warn">Add</button>
        </p>

      </div>

    </div>

  </mat-grid-tile>
</mat-grid-list>



