<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="example-icon" [routerLink]="['/home']">reply</mat-icon>
    <span class="example-spacer"></span>
    <span style='margin-left: 25px;'>Add</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="example-container">

  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Name" [(ngModel)]="product.name">
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Price" [(ngModel)]="product.price">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Group" [(ngModel)]="product.group">
      <mat-option value="food">Food</mat-option>
      <mat-option value="alcohol">Alcohol</mat-option>
      <mat-option value="cigarettes">Cigarettes</mat-option>
      <mat-option value="rent">Rent</mat-option>
      <mat-option value="dress">Dress</mat-option>
      <mat-option value="present">Present</mat-option>
    </mat-select>
  </mat-form-field>
  <p class="text-center">
    <button mat-fab color="accent" (click)="addNote(product)">Add</button>
  </p>
</div>
