<mat-toolbar color="warm" style = "margin-bottom: 25px;">
  <mat-toolbar-row>
    <span>Statistic</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" [routerLink]="['/add']">add</mat-icon>
    <mat-icon class="example-icon" [routerLink]="['/login']" (click) = "clear()">exit_to_app</mat-icon>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Total - {{total}}</span>
    <span class="example-spacer"></span>
    <span>Need - {{need}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar  color="accent" *ngFor="let product of productList | async" detail-push>
  <mat-toolbar-row>
    <span>{{product.name}}</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" (click) = "navEdit(product.key, product)">edit</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
