<mat-toolbar color="primary" style="margin-bottom: 25px;">
  <mat-toolbar-row>
    <mat-icon class="example-icon" [routerLink]="['/home']">reply</mat-icon>
    <span class="example-spacer"></span>
    <span style='margin-left: 25px;'>{{product?.name}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="example-container">

  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Name" [(ngModel)]="product.name">
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Price" [(ngModel)]="product.price">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Group" [(ngModel)]="product.group">
      <mat-option value="Food">Food</mat-option>
      <mat-option value="Alcohol">Alcohol</mat-option>
      <mat-option value="Cigarettes">Cigarettes</mat-option>
      <mat-option value="Rent">Rent</mat-option>
      <mat-option value="Dress">Dress</mat-option>
      <mat-option value="Present">Present</mat-option>
      <mat-option value="Taxi">Taxi</mat-option>
    </mat-select>
  </mat-form-field>
  <p class="text-center">
    <button mat-fab color="primary" (click)="updateProduct(product)">Edit</button>
    <button mat-fab color="warn" (click)="removeProduct(product)">Delete</button>
  </p>
</div>
